nz-header {
  background-color: green;
  color: #fff;
  h1 {
    margin-left: 20px;
    float: left;
  }
  .user {
    float: right;
    height: 64px;
    line-height: 64px;
    overflow: hidden;
    color: #fff;
  }
}
