nz-header {
  display: flex;
  color: #fff;
  justify-content: space-between;
  overflow: hidden;
}
nz-header h1 {
  justify-self: left;
}
nz-header .titleMenubar {
  display: flex;
}
nz-header .user {
  justify-self: right;
  color: #fff;
}
.fullWindow {
  margin-top: 10px;
  background-color: green;
  height: calc(100% - 70px);
}
