<div class="container">
   <nz-card>
     <h1>Workflow</h1>
     <form nz-form [formGroup]="myGroup" (ngSubmit)="submitForm()" >
        <nz-form-item>
            <nz-form-control nzErrorTip="请输入账号">
              <nz-input-group nzPrefixIcon="user">
                <input nz-input formControlName="username" placeholder="账号">
              </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="请输入密码">
            <nz-input-group nzPrefixIcon="lock">
              <input nz-input type="password" formControlName="pwd" id=" nzSearch" name=" nzSearch" placeholder="密码">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
       <nz-form-item >
         <nz-form-control nzErrorTip="请输入验证码" >
          <nz-input-group nzPrefixIcon="key" style="width: 50%;" >
            <input nz-input formControlName="captchaValue"  placeholder="验证码">
          </nz-input-group>
          <img [src]="captch" alt="" (click)="refreshCaptcha()" style="float: right;cursor: pointer;">
         </nz-form-control>
       </nz-form-item>
       <nz-form-item>
          <nz-form-control >
            <button nz-button nzType="primary" class="logonBtn" [nzLoading]="isLoading">登录</button>
          </nz-form-control>
       </nz-form-item>
    </form>
   </nz-card>
</div>
